{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{% static 'style.css' %}" rel='stylesheet' type='text/css' />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="">
        <div class="mb-3">
            <label for="searchMovie" class="form-label">Search for Movie:</label>
            <input type="text" class="form-control" name="searchMovie">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    <p>Searching for {{searchItem}}</p>
    {% for movie in movies %}
        <h2>{{movie.title}}</h2>
        <h3>{{movie.description}}</h3>
        <img src="{{movie.image.url}}" alt="">
        {% if movie.url %}
            <a href="{{movie.url}}">Movie link</a>
        {% endif %}
    {% endfor %}
</body>
</html>